*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body, #root, #main-container, #main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

// MAIN NAVIGATION
#nav-main {
  height: 100%;
  background-color: #99D3DF;
  box-shadow: 1px 1px 5px grey;
  .nav-wrapper {
    display: flex;
    align-items: center;
    .brand-logo {
      width: 100%;
      padding: 15px;
    }
    #nav-list {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      li {
        padding-right: 15px;
      }
    }
  }
}

// LANDING PAGE
#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// SIGNUP PAGE
#authform-container {
  height: 100%;
  display: flex;
  justify-content: center;
  #authform-wrapper {
    width: 35%;
    height: 50%;
    box-shadow: 1px 1px 5px grey;
    margin-top: 20px;
    text-align: center;
    .authform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
